---
layout: default
---

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">                
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Ashwin Reddy
                    </h1>
                    <h2 class="subtitle">
                        adreddy@berkeley.edu
                    </h2>
                    <img src="./assets/IMG_0096.jpg" width="70%" alt="">
                </div>
                <div class="column">
                        <h1 class="title">About</h1>
                        <h2 class="subtitle" markdown="1">
                          I am a first year undergraduate at UC Berkeley, intending to major in computer science. My research interest is in deep reinforcement learning. I currently do research at Berkeley's Robotic AI & Learning Lab (<a href="http://rail.eecs.berkeley.edu">RAIL</a>). Previously, I was a part of the Autonomous Robotic Manipulation (<a href="http://arm.eecs.umich.edu">ARM</a>) lab at the University of Michigan.
                        </h2>
                    <nav class="level">
                        <level class="level-item">
                            <a href="/blog/">Blog</a>
                        </level>
                        <!-- <level class="level-item">
                            <a href="/blog/">Blog</a>
                        </level> -->
                    <!-- </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer> -->
    
</section>
