---
layout: default
---

<table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
              <tr style="padding:0px">
                <td style="padding:2.5%;width:63%;vertical-align:middle">
                  <p style="text-align:center">
                    <name>Ashwin Reddy</name>
                  </p>
                  <p>I am a first-year undergraduate studying computer science at UC Berkeley. I do research in robotics and deep reinforcement learning in the <a href="https://bair.berkeley.edu/">Berkeley Aritifical Intelligence Research (BAIR)</a> lab. Previously, I was at the <a href="http://arm.eecs.umich.edu/">Autonomous Robotic Manipulation (ARM)</a> lab at the University of Michigan.
                  </p>
                  <p style="text-align:center">
                    <a href="mailto:adreddy@berkeley.edu">Email</a> &nbsp/&nbsp
                    <a href="https://drive.google.com/file/d/1ltelC61_rI41tJYEYdtpqgXCleNEGA6R/view?usp=sharing">Resume</a> &nbsp/&nbsp
                    <a href="https://www.linkedin.com/in/ashwin-reddy/"> LinkedIn </a> &nbsp/&nbsp
                    <a href="https://ashwinreddy.github.io/blog/"> Blog </a>
                  </p>
                </td>
                <td style="padding:2.5%;width:40%;max-width:40%">
                  <a href="assets/ash.jpg"><img style="width:100%;max-width:100%" alt="profile photo" src="assets/ash.jpg" class="hoverZoomLink"></a>
                </td>
              </tr>
            </tbody></table>
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
              <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <heading>Research</heading>
              </td>
            </tr>
          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

            <tr>
              <!-- <td style="padding:20px;width:25%;vertical-align:middle">
                <img src="images/GtS.jpg" alt="clean-usnob" width="160" height="160">
              </td> -->
              <td width="75%" valign="middle">
                <a href="https://arxiv.org/abs/1912.06088">
                  <papertitle>Learning To Reach Goals Without Reinforcement Learning</papertitle>
                </a>
                <br>
                Dibya Ghosh, Abhishek Gupta, Justin Fu, <strong>Ashwin Reddy</strong>, Coline Devin, Sergey Levine
                <br>
                <a href="https://sites.google.com/view/gcsl">website</a>
              </td>
            </tr>
          </tbody></table>
          <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tr>
              <td>
                <br>
                <p align="right">
                  <font size="2">
                    <a href="https://jonbarron.info/">website template</a>
                    </font>
                </p>
              </td>
            </tr>
          </table>
          </td>
        </tr>
      </table>